[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pydantic = "*"
passlib = "*"
python-multipart = "*"
websockets = "*"
bcrypt = "*"
python-dotenv = "*"
jiter = "*"
starlette = "*"
anyio = "*"
pydantic-core = "*"
pyjwt = "*"
openai = "==0.28"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
